* {
box-sizing: border-box;
}

html {
scroll-behavior: smooth; 
}

body {
display: flex;
flex-direction: row;
justify-content: space-between;
min-width: 600px;
min-height: 500vh;
flex-wrap: wrap;

padding: 0;
margin: 0;
}

.container {
max-width: 1440px;
margin: 0 auto;
}

@font-face {
font-family: inter;
src: url("fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
font-family: forum;
src: url("fonts/Forum/Forum-Regular.ttf");
}

/* Header section */

.header{
display: flex;
flex-direction: row;
justify-content: space-between;

height: 90px;
background: #0C0C0E;
}

.h1-box {
height: 50px;
margin: 20px;
}

.nav-list-container {
display: flex;
align-items: center;
height: 90px;
padding: 20px 0;
}

.nav-list {
display: flex;
justify-content: flex-end;
align-items: center;
margin: 0 25px 0 0;
padding-left: 0px;
line-height: 24px;
}

.nav-link {
margin: 15px;
color: #FFF;
text-decoration: none;
list-style: none;
font-family: inter;
font-size: 20px;
font-weight: 400;
}

h1 {
color: #FFF;
font-family: forum;
font-size: 30px;
font-weight: 400;
letter-spacing: 0.6px;
text-align: center;
line-height: 50px;
}

.header-profile-icon {
display: flex;
justify-content: flex-end;
margin-right: 20px;
background: url("./assets/icons/icon_profile.svg");
background-repeat: no-repeat;
width: 28px;
height: 28px;
}

/* welcome section*/

.welcome-section {
height: 600px;
}

h3 {
color: #FFF;
text-align: center;
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 50px;
letter-spacing: 3px;
text-transform: uppercase;
}

.h3-box {
position: absolute;
top: 310px;
left: 0px;
display: flex;
width: 600px;
height: 220px;
padding: 35px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

background: #0C0C0E;
}

.h3-text-box {
margin: 35px 40px;
width: 520px;
}

.bg-picture {
width: 100%;
height: 600px;
background-size: cover;
background-repeat: no-repeat;
background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url("./assets/welcome-img.png");
}

/* about section*/

h2 {
display: flex;
justify-content: center;

margin-top: 20px;

color: #0C0C0E;
font-family: forum;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

h2::after {
margin-top: 60px;
width: 50px;
content: '';
border-top: 1px solid black;

position: absolute;
}

.library-description {
display: flex;
justify-content: center;
padding-top: 35px;

font-family: inter;
font-size: 20px;
font-weight: 400;
line-height: 20px;
}

.pictures-row {
display: flex;
}

.picture-column {
flex: 33.33%;
padding: 13px;
}

.pagination-container {
display: flex;
justify-content: center;
padding-top: 10px;
margin-bottom: 55px;
}

.circle {
display: block;
margin: 5px;
width: 16px;
height: 16px;
border-radius: 50%;
background: #0C0C0E;
}

#circle-1 {
background: #BB945F;
}

.pick-title {
display: flex;
align-items: center;
padding: 30px 0 20px 20px;

font-family: inter;
font-size: 20px;
font-weight: 700;
}

/* favorites / Radio button section */

.radio-btn-container {


    display: flex;
    flex-direction: row;

    height: 25px;

    width: 400px;

    font-family: Inter;
    font-size: 20px;
    
    margin-top: 10px;
    padding-left: 10px;
    }
    
    input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    }
    
    input[type="radio"] {
    margin: 0;
    width: 17px;
    height: 17px;
    border: 2px solid black;
    border-radius: 50%;
    
    display: grid;
    place-content: center;
    }
    
    input[type="radio"]::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 6px 6px;
    
    transition: 120ms transform ease-in-out;
    }
    
    input[type="radio"]:checked::before {
    transform: scale(1);
    }
    
    label {

        display: flex;
        flex-direction: row;

        align-items: center;

    padding: 0px 90px 0 10px;

    gap: 10px;
    }

    .radio-text {
        padding-left: 6px;
    }
    /*End of radio button section*/ 
    
.winter-favorites {
display: flex;
flex-wrap: wrap;
padding-bottom: 40px;
}

.item-1, .item-2, .item-3, .item-4 {   
position: relative;
width: 550px;
height: 555px;
border: solid 1px #0C0C0E;
margin-top: 39px;    
}

.item-1, .item-3 {
margin-left: 20px;
}

.item-2, .item-4 {
margin-left: 260px; 
}

.tag-title-h4 {
font-family: Forum;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;

margin: 15px 0 10px 20px;
}

.tag-title-h4:before {
margin-top: 40px;
width: 60px;
content: '';
border-top: 1px solid #BB945F;

position: absolute;
}

.book-info, .book-title {
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;

margin: 20px 20px;
}

.book-title {
text-transform: uppercase;
margin-left: 0;
}

.book-description {
display: flex;
width: 380px;
flex-direction: column;
justify-content: center;

font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;

padding: 0 0px 0px 20px;
}

.buy-btn-1, .buy-btn-2, .buy-btn-3, .buy-btn-4 {
position: absolute;
bottom: 15px;
left: 20px;
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px; 

background-color: #FFF;

color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-weight: 700;
letter-spacing: 1px;
}

.buy-btn-1:hover {
border: 1px solid #BB945F;
background: #BB945F;
}
.buy-btn-2:hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    }
    .buy-btn-3:hover {
        border: 1px solid #BB945F;
        background: #BB945F;
        }

.buy-btn-4 {
border-radius: 2px;
border: 1px solid #BB945F;
color: #BB945F;
}

.book-cover-1, .book-cover-2, .book-cover-3, .book-cover-4 {
position: absolute;
left: 390px;
bottom: -5px;
}

.coffee-shop-description {
padding: 0px 20px;
padding-top: 30px;
text-align: center;
font-family: Inter;
font-size: 20px;
line-height: 40px;
letter-spacing: 2px;
}

/*Menu section*/

.menu-container {
    display: flex;
    flex-direction: row;
    padding: 0 0px 0 0px;;
    gap: 400px;
}

.menu-left, .menu-right {
    list-style: none;
}

.column-title {
color: #BB945F;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.left-menu-item, .right-menu-item {
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.left-menu-item, .right-menu-item  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    gap: 220px;
}

.left-menu-item::before {
position: absolute;
left: 300px;
align-items: center;
content: '';
width: 100px;
height: 1px;
background: #BB945F;
}

.right-menu-item::before {
    position: absolute;
    left: 1200px;
    align-items: center;
    content: '';
    width: 100px;
    height: 1px;
    background: #BB945F;
    }
 
    .menu-right {
        text-align: right;
    }
    
    .right-menu-item {
        text-align: right;
    }