* {
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    background-color: #8f8989;

}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF;
    overflow: hidden;
}


@font-face {
font-family: inter;
src: url("fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
font-family: forum;
src: url("fonts/Forum/Forum-Regular.ttf");
}

/* Header section */

.header {
display: flex;
flex-direction: row;
justify-content: space-between;

height: 90px;
background: #0C0C0E;
}

.burger_btn {
    display: none;
}


.nav-list-container {
display: flex;
align-items: center;
padding: 20px 0;
}

.menu-list {
display: flex;
justify-content: flex-end;
align-items: center;
margin: 0 25px 0 0;
padding-left: 0px;
line-height: 24px;
}

.nav-link {
margin: 15px;
color: #FFF;
text-decoration: none;
list-style: none;
font-family: inter;
font-size: 20px;
font-weight: 400;
}

.nav-link:hover {
text-decoration: underline;
color: #FFF;

transition: 0.5s;
}

h1 {
color: #FFF;
font-family: forum;
font-size: 30px;
font-weight: 400;
letter-spacing: 0.6px;
text-align: center;
line-height: 50px;
padding-left: 20px;
}

.profile-icon {
display: flex;
justify-content: flex-end;
margin-right: 20px;
width: 28px;
height: 28px;
background: url("assets/icons/icon_profile.svg");
background-repeat: no-repeat;
}

/* welcome section*/

.welcome-section {
height: 600px;
}

h3 {
color: #FFF;
text-align: center;
font-family: Forum;
font-size: 40px;
font-weight: 400;
line-height: 50px;
letter-spacing: 3px;
text-transform: uppercase;
}

.h3-box {
position: absolute;
margin-top: 220px;
padding-left: 0px;
display: flex;
max-width: 600px;
height: 220px;
padding: 35px 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;

background: #0C0C0E;
}

.h3-text-box {
margin: 35px 40px;
max-width: 520px;
}

.bg-picture {
width: 100%;
height: 100%;
height: 600px;
background-size: cover;
background-repeat: no-repeat;
background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url("assets/welcome-img.png");
}

/* about section*/

h2 {
display: flex;
justify-content: center;

margin-top: 20px;

color: #0C0C0E;
font-family: forum;
font-size: 40px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

h2::after {
margin-top: 60px;
width: 50px;
content: '';
border-top: 1px solid black;

position: absolute;
}

.library-description {
display: flex;
justify-content: center;
padding-top: 30px;

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 40px
}

.pictures-row {
display: flex;
}
.pictire-column-img {
    max-width: 100%;
}
.picture-column {
margin: 0 auto;
flex: 33.33%;
padding: 0px 15px;
}

.picture-column:nth-child(4),  .picture-column:nth-child(5){
    display: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 55px;
    }
    
    .circle {
    display: block;
    margin: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #0C0C0E;
    }

.slider-btn  {
    display: none;
}

#circle-1 {
background: #BB945F;
}

.pagination:nth-child(4) {
    display: none;
}
.pagination:nth-child(5) {
    display: none;
}

.pick-title {
display: flex;
align-items: center;
padding: 30px 0 20px 20px;

font-family: inter;
font-size: 20px;
font-weight: 700;
}

/* favorites / Radio button section */

.radio-btn-container {
display: flex;
flex-direction: row;
margin-bottom: 5px;
max-width: 200px;
height: 25px;
font-family: Inter;
font-size: 20px;
display: flex;
padding-left: 20px;
gap: 95px;
}

input[type="radio"] {
-webkit-appearance: none;
appearance: none;
}

input[type="radio"] {
margin: 0;
width: 17px;
height: 17px;
border: 2px solid black;
border-radius: 50%;

display: grid;
place-content: center;
}

input[type="radio"]::before {
content: "";
width: 6px;
height: 6px;
border-radius: 50%;
transform: scale(0);
box-shadow: inset 6px 6px;

transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked::before {
transform: scale(1);
}

label {
display: flex;
align-items: center;
gap: 15px;
}

/*End of radio button section*/

.winter-favorites {
display: flex;
flex-wrap: wrap;
padding-bottom: 40px;
gap: 10px max(20px, calc(100% - 2 * 610px));
}


.book-item {
position: relative;
width: 550px;
height: 555px;
border: solid 1px #0C0C0E;
margin-top: 30px;
margin-right: 20px;
margin-left: 20px;
}

.book-item:nth-child(2), .book-item:nth-child(4) {
    margin-right: 30px;
}

.tag-title-h4 {
font-family: Forum;
font-size: 20px;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;

margin: 15px 0 10px 20px;
}

.tag-title-h4:before {
margin-top: 40px;
width: 60px;
content: '';
border-top: 1px solid #BB945F;

position: absolute;
}

.book-info, .book-title {
font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;

margin: 20px 20px;
}

.book-title {
text-transform: uppercase;
margin-left: 0;
}

.book-description {
display: flex;
width: 380px;
flex-direction: column;
justify-content: center;

font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;

padding: 0 0px 0px 20px;
}

.buy-btn-1,.buy-btn-2,.buy-btn-3,.buy-btn-4 {
position: absolute;
bottom: 15px;
left: 20px;
border-radius: 2px;
border: 1px solid #0C0C0E;
width: 75px;
height: 30px;

cursor: pointer;

background-color: #FFF;

color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-weight: 700;
letter-spacing: 1px;
}

.buy-btn-1:hover {
border: 1px solid #BB945F;
background: #BB945F;
transition: 0.5s;
}

.buy-btn-2:hover {
border: 1px solid #BB945F;
background: #BB945F;
transition: 0.5s;
}

.buy-btn-3:hover {
border: 1px solid #BB945F;
background: #BB945F;
transition: 0.5s;
}

.buy-btn-4 {
border-radius: 2px;
border: 1px solid #BB945F;
color: #BB945F;
transition: 0.5s;
}

.book_img {
    max-width: 200px;
    height: 300px;
    object-fit: cover;

    overflow: clip;
}

.book-img-container {
position: absolute;
left: 380px;
top: 255px;
}

.coffee-shop-description {
padding: 0px 20px;
padding-top: 25px;
text-align: center;
font-family: Inter;
font-size: 20px;
line-height: 40px;
letter-spacing: 2px;
}

/*Menu section*/

.menu-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-bottom: 40px;
padding-top: 20px;
gap: 20%;
}


.menu-right {
list-style: none;
margin: auto;
}

.menu-left {
list-style: none;
padding-left: 20px;
}

.menu-right {
padding-right: 10px;
}

.column-title {
color: #BB945F;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.left-menu-item,.right-menu-item {
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.left-menu-item,.right-menu-item {
display: flex;
justify-content: space-between;
padding-top: 40px;
gap: 215px;
}

.left-menu-item::before {
align-self: center;
position: absolute;
margin-left: 255px;
align-items: center;
content: '';
width: 100px;
height: 1px;
background: #BB945F;
}

.right-menu-item::before {
align-self: center;
position: absolute;
margin-right: 90px;
align-items: center;
content: '';
width: 100px;
height: 1px;
background: #BB945F;
}

.menu-right-container {
text-align: right;
padding-right: 10px;
}

.right-menu-item {
justify-content: flex-end;
}

.item-price {
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

/*Contacts section*/

.contacts-map-container {
display: flex;
flex-wrap: wrap;
padding-top: 20px;
padding-right: 20px;
justify-content: space-between;
}

.contacts-container {
padding: 0px 20px;
padding-bottom: 60px;
}
.contacts-title {
padding-top: 5px;
padding-bottom: 0px;
}

.contacts-title, .staff-contacts-title, .mail-link {
color: #000;
text-decoration: none;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.contact-item, .staff-contact-item, .tel-link {
text-decoration: none;
color: #000;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.staff-contacts-title {
padding-top: 20px;
}

.contact-item {
gap: 5px;
}

.map {
display: flex;
flex-direction: column;
justify-content: space-between;
position: relative;
    width: 100%;
    margin: 0 auto;
}

/*Library card section - left side*/

.find-card-title {
padding-left: 158px;
color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.card-border-container {
display: flex;
margin-left: 20px;
width: 600px;
height: 386px;
border: 3px solid #BB945F;
background: #FFF;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-form-container {
margin: 15px 15px;
width: 560px;
height: 272px;
background: #BB945F;
}

.card-title {
margin: 20px;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px;
letter-spacing: 0.6px;
}

/*input forms*/
input[type="text"] {
min-width: 520px;
height: 66px;

color: #8E8E8E;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px;

border-radius: 10px;
letter-spacing: 0.6px;
border: 0;

padding-left: 25px;

margin: 0px 20px;
margin-bottom: 25px;
}

label {
margin: 0;
}

.check-btn {
display: inline-flex;
padding: 10px 40px;
margin-top: 20px;
margin-left: 160px;

border-radius: 2px;
background-color: #FFF;
border: 1px solid #0C0C0E;

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.check-btn:hover {
border-radius: 2px;
border: 1px solid #BB945F;
background: #BB945F;

transition: 0.5s;
}


/*library card section - right side */

.find-card-container {
max-width: 700px;
}

.get-card-container {
padding-right: 20px;
width: 480px;
text-align: right;
}

.cards-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: -5px;
margin-bottom: 40px;
}

.get-card-title {
color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.logging-description {
padding-top: 5px;
color: #000;
text-align: right;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
letter-spacing: 0.4px;
}

.sign-up-btn, .login-btn {
width: 75px;
height: 30px;
padding: 10px 0px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 2px;
border: 1px solid #0C0C0E;

color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;

background-color: #FFF;

margin-top: 15px;
}

.sign-up-btn {
margin-right: 15px;
}

.sign-up-btn:hover {
border-radius: 2px;
border: 1px solid #BB945F;
background: #BB945F;

transition: 0.5s;
}

.login-btn:hover {
border-radius: 2px;
border: 1px solid #BB945F;
background: #BB945F;

transition: 0.5s;
}

/*footer-section*/

.footer-container {
height: 250px;
background: #0C0C0E;
color: #FFF;
font-family: Inter;
}

.bottom-block::before {
content: '';
max-width: 1400px;
display: block;
margin: 18px 20px;
height: 1px;
background: #FFF;
align-items: center;
}

.upper-block {
    display: flex;
    justify-content: space-between;
}

.right-side-footer {
margin-top: 5px;
padding-right: 20px;
max-width: 170px;
text-align: right;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.weekend-hours {
    margin-top: -5px;
}

.icons-footer {
    display: flex;
    list-style: none;
    margin-left: -40px;
    flex-direction: row;
}

.twitter-icon {
    display: flex;
    margin-left: 20px;
    background: url("assets/icons/twitter.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.instagram-icon {
    display: flex;
    margin-left: 15px;
    background: url("assets/icons/instagram.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.facebook-icon {
    display: flex;
    margin-left: 15px;
    background: url("assets/icons/facebook-f.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.bottom-block {
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
}

.link {
text-decoration: none;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
}

.bottom-block-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;    
    margin-top: 28px;
}

.address {
    padding-top: 5px;
    padding-left: 20px;
    width: 250px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    }

.address-link {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.address-link:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.link:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.footer-center {
    justify-content: center;
}

.bottom-block {
    flex: 33.33%;
    margin: 0 auto;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .winter-favorites{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .map-container {
        margin: 0 auto;
        width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 30px;
            margin-bottom: 15px;
        }
    }

@media (max-width: 1024px) {

    .header.full .menu-header {
        transform: translateX(-332px);
        transition: 0.5s;
    }

    .burger_btn {
        z-index: 2;
        order: 2;
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        background-color: #000;
        border: none;
        margin-right: 22px;
    }

    .burger_btn span {
        display: block;
        left: 0px;
        width: 45px;
        height: 2px;
        background-color: #FFF;
        transition: transform .4s;
    }

    .burger_btn:hover span {
        cursor: pointer;
    }


   .burger_btn span:nth-child(1) {
    transform: translateY(-10px);
   }

    .burger_btn span:nth-child(3) {
    transform: translateY(10px);
    }

       .header.full .burger_btn span:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
       }
    
       .header.full .burger_btn span:nth-child(2) {
        display: none;
        }
    
        .header.full .burger_btn span:nth-child(3) {
        transform: translateY(0) rotate(45deg);
        }

.picture-column {
    display: flex;
    justify-content: center;
}

.picture-column:nth-child(n+2):nth-child(-n+5) {
    display: none;
    width: 450px;
    height: 560px;
}

.slider-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 25px;
    padding: 50px;
}
    .btn-prev {
    text-align: left;
    left: 0;
    align-self: center;
    padding-top: 15%;
    }
    .btn-next {
    text-align: right;
    right: 0;
    align-self: center;
    padding-top: 15%;
    }

.btn-icon {
    width: 24px;
    height: 24px;
}

.pagination:nth-child(4) {
    display: block;
}
.pagination:nth-child(5) {
    display: block;
}

.nav-list-container {
    display: flex;
    z-index: 1;
}
.profile-icon {
margin-right: 38px;
z-index: 1;
}
.menu-header {
    position: fixed;
    right: -332px;
    top: 0;
    width: 332px;
    height: 570px;
    background-color: #000000;
    transition: 0.5s;
}

.menu-list {
    display: block;
    padding-left: 25px;
    padding-top: 80px;
    text-align: center;
}
 
.nav-item {
    display: block;
    padding: 15px 0;
    line-height: 50px;
}
}

   
@media (max-width: 1110px) {
    .cards-container {
        justify-content: center;
        align-items: center;
    }

    .book-item {
        margin-left: -20px;
    }
    .book-item:nth-child(2), .book-item:nth-child(4) {
        margin-left: -10px;
    }
    .get-card-container, .logging-description {
        text-align: center;
        max-width: 600px;
    }

    .library-description {
        margin: 0 auto;
        max-width: 700px;
            text-align: center;
            font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        }
    .menu-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
.radio-btn-container {
    max-width: 590px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 45px;
    margin: 15px;
    gap: 30px;
}

.menu-right-container {
    margin-left: auto;
}

}
@media (max-width: 768px) {
    .picture-column {
        padding-top: 15px;
    }
    .pagination-container {
        padding-top: 25px;
    }

    .coffee-shop-description {
        margin-bottom: 5px;
    }

    .menu-right-container {
        margin-top: 25px;
        margin-left: 245px;
    }

    .contacts-title {
        margin-top: 5px;
        margin-bottom: 40px;
    }

    .find-card-container {
        margin-left: -20px;
    }

    .get-card-container {
        margin-top: -5px;
        padding-right: 2px;
    }

    .logging-description {
        padding-left: 0px;
        letter-spacing: 0.4px;
        width: 490px;
        padding-bottom: 9px;
    }

    .bottom-block::before {
        margin-top: 10px;
    }

    .rs-school-link {
        margin-left: -50px;
    }
}
