* {
    box-sizing: border-box;
    }
    
    html {
    scroll-behavior: smooth;
    }
    
    body {
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    
        background-color: #ecc6f4;
    }

    .main_container {
        position: relative;
        height: 100vh;
    }

   .bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
   }

    .player_wrapper {
        z-index: 1;
        transform: translateY(50%);
        position: relative;
        margin: 0 auto;
        width: 361px;
        height: 410px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 19px;
        background: linear-gradient(180deg, #D8C0DC 0%, rgba(99, 204, 185, 0.62) 100%);
    }

    .songs_wrapper {
        display: flex;
        width: 200%;
    }
    .song_container {
        width: 100%;
    }

    .info {
        position: relative;
        width: 360px;
        left: 00px;
    }

    .img{
        object-fit: cover;
        margin: 0 auto;
        margin-top: 17px;
        width: 213px;
        height: 222px;
        flex-shrink: 0;
        border-radius: 4px;
    }

    .img_cover {
        display: flex;
        justify-content: center;
    }


.song-title {
    margin-top: 20px;
    margin-left: 38px;
color: #000;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 10px;
}
.song_author {
    font-family: Montserrat;
    font-size: 12px;
    margin-left: 38px;
    margin-top: 10px;
    line-height: 10px;
}

.progress_bar {
    cursor: pointer;
    border-radius: 11px;
    margin: 0 auto;
    background-color: #D8C0DC;
    width: 300px;
}


.current_bar {
    cursor: pointer;
    border-radius: 4px;
    height: 5px;
    border-radius: 11px;
    background: #797171;
    background-color: #bf1ddc;
    margin-top: 20px;
}


/*
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(89, 214, 168);
    cursor: pointer;
    width: 250px;
  }


  input[type=range].current::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 0.6em;
    margin-top: -4px;
    background: #B166B6;
  }
  
  input[type=range].current::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 2px;
    background: #546ebe;
    box-shadow: none;
  }

*/
.timestamp {
    font-family: Montserrat;
    font-size: 12px;
    padding-top: 5px;
    width: 299px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.controls_wrapper {
    margin-top: 15px;
}


.buttons {
    cursor: pointer;
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .button_prev {
        width: 35px;
        height: 35px;
    }

    .button_play:hover {
    transform: scale(1.12);
    }

    .button_prev:hover {
        transform: scale(1.12);
        }

        .pause:hover {
            transform: scale(1.12);
            }
            .button_next:hover {
                transform: scale(1.12);
                }


    .button_play {
        cursor: pointer;

        border-radius: 1%;
        margin-left: 18px;
        border: 0;
        background: transparent;
        width: 46px;
        height: 40px;
      
        transition: 110ms all ease;
        border-color: transparent transparent transparent #3e3c3f;
      
        border-style: solid;
        border-width: 20px 0 20px 35px;
    }

    .button_play.pause {
        border-style: double;
        border-width: 0px 0 0px 30px;
      }

    .button_next {
        width: 35px;
        height: 35px;
    }




    

    .footer_container {
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 30px;
        font-size: 20px;
        background-color: #ed85ff;
    }
    .year, .github, .logo {
        width: 300px;
        color: antiquewhite;

        text-align: center;
    }
    .github {
        text-align: left;
        padding-left: 20px;
    }

    .year {
        text-align: right;
        padding-right: 20px;
    }

    .rs-school-link {
        width: 50px;
        height: 30px;
    }

    .bottom_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: #000;
        color: antiquewhite;
        font-family: Montserrat;
        font-size: 20px;
    }